---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app immich-server
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: immich-typesense
      namespace: default
    - name: redis
      namespace: database
    - name: cloudnative-pg
      namespace: database
  values:
    initContainers:
      01-init-db:
        image: ghcr.io/onedr0p/postgres-init:15.5
        imagePullPolicy: IfNotPresent
        envFrom: &envFrom
          - configMapRef:
              name: &configMap immich-configmap
          - secretRef:
              name: &secret immich-secret
    controller:
      strategy: RollingUpdate
      annotations:
        configmap.reloader.stakater.com/reload: *configMap
        secret.reloader.stakater.com/reload: *secret
    image:
      repository: ghcr.io/immich-app/immich-server
      # renovate: datasource=github-releases depName=immich-app/immich
      tag: v1.89.0
    args: ["start-server.sh"]
    envFrom: *envFrom
    service:
      main:
        ports:
          http:
            port: 3001
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          external-dns.alpha.kubernetes.io/target: ingress.${SECRET_DOMAIN}
          nignx.ingress.kubernetes.io/force-ssl-redirect: "true"
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Immich"
          gethomepage.dev/group: "Widgets"
          gethomepage.dev/icon: "immich"
          gethomepage.dev/widget.type: "immich"
          gethomepage.dev/widget.url: "https://photos.${SECRET_DOMAIN}"
          gethomepage.dev/widget.key: ${SECRET_IMMICH_APIKEY}
        hosts:
          - host: &host photos.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: immich-server
                  port: 3001
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
    persistence:
      library:
        enabled: true
        existingClaim: immich-nfs
        mountPath: /usr/src/app/upload
      geocoding-dump:
        enabled: true
        type: emptyDir
        mountPath: /usr/src/app/.reverse-geocoding-dump
      transformers-cache:
        enabled: true
        type: emptyDir
        mountPath: /usr/src/app/.transformers_cache
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
    resources:
      requests:
        cpu: 100m
        memory: 250Mi
