---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: external-dns
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: external-dns
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
      version: 1.13.1
  install:
    createNamespace: true
  values:
    podAnnotations:
      secret.reloader.stakater.com/reload: cloudflare-creds
    interval: 5m
    provider: cloudflare
    env:
      - name: CF_API_EMAIL
        valueFrom:
          secretKeyRef:
            name: cloudflare-creds
            key: CLOUDFLARE_EMAIL
      - name: CF_API_KEY
        valueFrom:
          secretKeyRef:
            name: cloudflare-creds
            key: CLOUDFLARE_APIKEY
    extraArgs:
      - --cloudflare-proxied
      - --crd-source-kind=DNSEndpoint
      - --annotation-filter=external-dns.alpha.kubernetes.io/target
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
    policy: sync
    sources:
      - crd
      - ingress
    txtPrefix: "k8s."
    txtOwnerId: default
    domainFilters:
      - "${SECRET_DOMAIN}"
    serviceMonitor:
      enabled: true
    resources:
      requests:
        memory: 100Mi
        cpu: 25m
      limits:
        memory: 250Mi
