---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: quay.io/prometheus/alertmanager
      tag: main@sha256:62c18308f46bed424667a61832c6c459382bf73f5bb0681a9b2c6e3656b97df4

    podAnnotations:
      reloader.stakater.com/auto: "true"

    service:
      main:
        ports:
          http:
            port: 9093

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: &host alertmanager.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        type: configMap
        name: alertmanager-configmap
        mountPath: /etc/alertmanager
        readOnly: true

    resources:
      requests:
        cpu: 11m
        memory: 50M
      limits:
        memory: 99M
