---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app prowlarr
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  dependsOn:
    - name: volsync
      namespace: volsync
  values:
    controllers:
      main:
        annotations:
          configmap.reloader.stakater.com/reload: cross-seed-config
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/prowlarr-nightly
              tag: 1.11.1.4142@sha256:7282591c5142f8427c38383c1fbb9d98e5e53ef4c7a5b6de282233c62382518b
            env:
              # https://github.com/Radarr/Radarr/issues/7030#issuecomment-1039689518
              # https://github.com/dotnet/runtime/issues/9336
              COMPlus_EnableDiagnostics: "0"
              PROWLARR__PORT: &port 80
              PROWLARR__API_KEY: ${SECRET_PROWLARR_APIKEY}
              PROWLARR__INSTANCE_NAME: Prowlarr
              PROWLARR__LOG_LEVEL: info
              PROWLARR__THEME: dark
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 128M
              limits:
                memory: 1Gi
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        className: "internal"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Prowlarr"
          gethomepage.dev/group: "Widgets"
          gethomepage.dev/icon: "prowlarr"
          gethomepage.dev/widget.type: "prowlarr"
          gethomepage.dev/widget.url: "http://prowlarr.default.svc.cluster.local"
          gethomepage.dev/widget.key: "${SECRET_PROWLARR_APIKEY}"
        hosts:
          - host: &host "prowlarr.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: prowlarr
