---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: snapshot-controller
  namespace: democratic-csi
spec:
  interval: 30m
  chart:
    spec:
      chart: snapshot-controller
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: piraeus
        namespace: flux-system
      interval: 30m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    replicaCount: 1
    serviceMonitor:
      create: true
